*
{
    background: fixed;
    color: #1a2537;
}

.container
{
    margin: 0%;
}

.form
{
    margin: 20%;
    padding: 0px;
}

h1
{
    margin-top: 10px;
    color: #1a2537;
}

.label-text
{
   width: 100px;
   margin-right: 20px;
}

.imput-text
{
    float: left;
    margin-bottom: 8px;
    margin-right: 5px;
    margin-left: 5px;
}

.tabla
{
    padding: 60px;
}

.th
{
    width: 30px;
    padding-left: 50px;
}